@import '../main.scss';
header {
    width: 20%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0px auto;
    input {
        position: absolute;
        top: -200px;
        opacity: 0;
    }
    .label-for {
        p {
            color: #000;
            font-size: 22px;
            font-weight: 500;
            position: relative;
            a {
                position: absolute;
                left: 0;
                opacity: 0;
            }
        }
    }
}