<div>
    <div role="group" aria-label="Basic example">
        <!-- Add data button -->
        <button type="button" data-toggle="modal" data-target="#addDataModal">Add data</button>
        <button type="button" (click)="getAllData()">Refresh</button>
    </div>
    <!-- Modal -->
    <div id="addDataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div role="document">
            <div>
                <div>
                    <h5 id="exampleModalLabel">Add data into database</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div>
                    <!-- Add data form -->
                    <form>
                        <!-- Key   -->
                        <div>
                            <label for="key">Key</label>
                            <input type="text" required name="key" [(ngModel)]="newData.key" #key="ngModel">
                        </div>
                        <!-- Value -->
                        <div>
                            <label for="value">Value</label>
                            <input type="text" required name="value" [(ngModel)]="newData.value" #value="ngModel">
                        </div>
                    </form>
                </div>
                <div>
                    <!-- Submit -->
                    <button type="button" data-dismiss="modal" (click)="addData()">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Existing data -->
    <h6>
        Data in DB :
    </h6>
    <ul>
        <li>
            <div>
                <div>
                    <h5>
                        Key
                    </h5>
                </div>
                <div>
                    <h5>
                        Value
                    </h5>
                </div>
            </div>
        </li>
        <li *ngFor="let data of dataContent">
            <div>
                <div>
                    {{data.key}}
                </div>
                <div>
                    {{data.value}}
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="content">

    <section class="title">
        <h2>grb admin panel</h2>
    </section>


    <section class="input_form">
        <p>main image</p>
        <textarea type="e-mail" name=""></textarea>
    </section>

    <section class="input_form">
        <p>name</p>
        <textarea type="e-mail" name=""></textarea>
    </section>

    <section class="input_form">
        <section class="title">
            <h2>price</h2>
        </section>
        <div class="input_form_price">
            <div>
                <p>USD</p>
                <input type="e-mail" name="">
            </div>
            <div>
                <p>BYN</p>
                <input type="e-mail" name="">
            </div>
            <div>
                <p>RUB</p>
                <input type="e-mail" name="">
            </div>
        </div>
       
    </section>

    <section class="input_form">
        <p>avaible size</p>
        <!-- TO DO -->
        <textarea type="e-mail" name=""></textarea>
    </section>

    <section class="input_form">
        <p>description</p>
        <textarea type="e-mail" name=""></textarea>
    </section>

    <section class="input_form">
        <p>categories</p>
        <textarea type="e-mail" name=""></textarea>
    </section>

    <section class="input_form">
        <p>imageURLs</p>
        <textarea type="e-mail" name=""></textarea>
    </section>



    <section  type="button" data-toggle="modal" data-target="#addDataModal" class="section_next_button">

        <a>
          <p>add</p>
        </a>

        <figure class="line"></figure>

    </section>
</div>