<div class="content">
  <label for="search"><p>Search</p></label>
  <input [(ngModel)]="search" class="input-search" id="search" type="text">
  <div *ngFor="let product of products" >
    <div class="product-content" *ngIf="product.name.toLowerCase().match(search)">
      <section class="row-conteiner">
        <div>
          <p class="header">{{product.name}}</p>
          <p class="description"><strong>Description</strong> : {{product.description}}</p>
        </div>
        <img class="product-main-img" src={{product.mainImage}} alt="">
      </section>
      <section class="product-img-container">
        <img class="product-img" src={{product.productImages}} alt="">
      </section>
      <p class="categories"><strong>Categories</strong> : {{product.categories}}</p>
      <div class="row-conteiner">
        <section class="product-price">
          <p>USD : {{product.price.usd}}</p>
          <p>BYN : {{product.price.byn}}</p>
          <p>EUR : {{product.price.eur}}</p>
          <p>RUB : {{product.price.rub}}</p>
        </section>
        <section class="product-size">
          <div class="row">
            <p (click)="decrement(product.id, product.availableSizes.xxs)" class="change-amound">-</p>
            <p>XXS : {{product.availableSizes.xxs || 0}}</p>
            <p (click)="incremetn(product.id, product.availableSizes.xxs)" class="change-amound">+</p>
          </div>
          <div class="row">
            <p>XS : {{product.availableSizes.xs || 0}}</p>
          </div>
          <div class="row">
            <p>S : {{product.availableSizes.s || 0}}</p>
          </div>
          <div class="row">
            <p>M : {{product.availableSizes.m || 0}}</p>
          </div>
          <div class="row">
            <p>L : {{product.availableSizes.l || 0}}</p>
          </div>
          <div class="row">
            <p>XL : {{product.availableSizes.xl || 0}}</p>
          </div>
          <div class="row">
            <p>XXL : {{product.availableSizes.xxl || 0}}</p>
          </div>
          <div class="row">
            <p onclick="decremetn(product.availableSizes.os)" class="change-amound">-</p>
            <p>OX : {{product.availableSizes.os || 0}}</p>
            <p onclick="incremetn(product.availableSizes.os)" class="change-amound">+</p>
          </div>
        </section>
      </div>
      <div class="delete-button" *ngIf="confirmDelete === false">
        <p (click)="setConfirmDelete()">DELETE ITEM</p>
      </div>
      <div *ngIf="confirmDelete === true">
        <p>delete item {{ product.name}} ?</p>
        <div class="delete-confirm">
          <p (click)="setConfirmDelete()">NO</p>
          <p (click)="deleteProduct(product.id)">YES</p>
        </div>
      </div>
    </div>
  </div>
</div>
