@import '../main.scss';


.input-search {
    outline-offset: none;
    outline: none;
    border: 1px solid #000;
    width: 40%;
    height: 10px;
    padding: 12px;
}

.product-content {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px 0px;
    position: relative;
    border-bottom: black solid 2px;

    .header {
        font-size: 36px;
        font-weight: 600;
        padding: 10px 0px;
    }
    .row-conteiner {
        display: flex;
        justify-content: space-between;
        .product-price {
            p {
                padding: 5px 0px;
            }
        }
        .product-size {
            .row {
                width: 170px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .change-amound {
                    font-size: 30px;
                    cursor: pointer;
                }
            }
            p {
                padding: 5px 0px;
            }
        }
    }

    .delete-button {
        p {
            cursor: pointer;
        }
    }
    .delete-confirm {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        p {
            cursor: pointer;
        }
    }
    
    .description {
        padding: 10px 0px;
    }
    
    .product-main-img {
        width:200px;
    }
    
    .product-img-container {
        display: flex;
    
    }
    
    .product-img {
        width: 100px;
    }
    
    .categories {
        padding: 20px 0px;
    }
}