<div class="content">

    <section class="title">
        <h2>grb admin panel</h2>
    </section>

    <!-- {{addProductForm.value|json}} -->

    <form [formGroup]="addProductForm">
        <section class="input_form">
            <h2>main image</h2>
            <div>
                <div><img class="preview" [src]="mainImage" *ngIf="mainImage"></div>
                <p>
                    <input type="file" formControlName="mainImage" id="mainImage" accept="image/*" (change)="selectFile($event)">
                </p>
            </div>
        </section>

        <section class="input_form">
            <h2>imageURLs</h2>
            <div class="row">
                <div class="col-8">
                    <label class="btn btn-default p-0">
                    <input type="file" formControlName="productImages" id="productImages" accept="image/*" multiple (change)="selectFiles($event)" />
                </label>
                </div>
            </div>

            <div>
                <img *ngFor='let preview of productImages' [src]="preview" class="preview">
            </div>
        </section>


        <section class="input_form">
            <h2>name</h2>
            <input type="text" formControlName="name" id="productName">
        </section>

        <section class="input_form">
            <section class="title">
                <h2>price</h2>
            </section>
            <div class="input_form_multiple_row">
                <section>
                    <label for="usd"><p>USD</p></label>
                    <input type="number" formControlName="usd" id="usd">
                </section>
                <section>
                    <p>BYN</p>
                    <input type="number" formControlName="byn" id="byn">
                </section>
                <section>
                    <p>RUB</p>
                    <input type="number" formControlName="rub" id="rub">
                </section>
                <section>
                    <p>EUR</p>
                    <input type="number" formControlName="eur" id="eur">
                </section>
            </div>
        </section>

        <section class="input_form">
            <section class="title">
                <h2>available sizes</h2>
            </section>
            <div class="input_form_multiple_row">
                <div>
                    <p>xxs</p>
                    <input type="number" formControlName="xxs" id="xxs">
                </div>
                <div>
                    <p>xs</p>
                    <input type="number" formControlName="xs" id="xs">
                </div>
                <div>
                    <p>s</p>
                    <input type="number" formControlName="s" id="s">
                </div>
                <div>
                    <p>m</p>
                    <input type="number" formControlName="m" id="m">
                </div>
                <div>
                    <p>l</p>
                    <input type="number" formControlName="l" id="l">
                </div>
                <div>
                    <p>xl</p>
                    <input type="number" formControlName="xl" id="xl">
                </div>
                <div>
                    <p>xxl</p>
                    <input type="number" formControlName="xxl" id="xxl">
                </div>
                <div>
                    <p>os</p>
                    <input type="number" formControlName="os" id="os">
                </div>
            </div>
        </section>

        <section class="input_form">
            <h2>description</h2>
            <input type="text" formControlName="description" id="description">
        </section>

        <section class="input_form">
            <h2>categories</h2>
            <p>use space as separator</p>
            <input type="text" formControlName="categories" id="categories">
        </section>


        <section type="button" data-toggle="modal" data-target="#addDataModal" class="section_next_button">

            <a>
                <button (click)="addProduct()">add</button>
            </a>

            <figure class="line"></figure>

        </section>
        {{addResponse|json}}

    </form>

</div>