.form {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;

  .submit {
    border: none;
    background-color: black;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    justify-self: center;
    padding: 10px;
    cursor: pointer;
  }

  .disabled {
    opacity: 0.5;
    border: none;
    background-color: black;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    justify-self: center;
    padding: 10px;
  }

  .product_container {
    display: grid;
    gap: 5px;

    .title {
      justify-self: flex-start;
      color: #fff;
      background-color: black;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
    }

    .product_container_size_list {
      display: grid;
      gap: 10px;
      padding: 5px 0 0 5px;

      .product_container_size_item {
        display: grid;
        gap: 5px;

        .define_size_quantity_container {
          display: flex;
          align-items: center;
          gap: 10px;

          h3 {
            border: 2px solid black;
            width: 40px;
            text-align: center;
          }

          input {
            height: 28px;
            text-align: center;
            width: 70px;
            font-size: 20px;
          }
        }

        .define_measurement_container {
          display: flex;
          align-items: center;
          gap: 5px;

          select {
            width: 120px;
          }

          input {
            text-align: center;
            width: 70px;
            font-size: 20px;
          }
        }

        .added_measurements_container {
          display: grid;
          justify-content: center;
          gap: 5px;
          width: 150px;
          height: 50px;
          overflow-y: scroll;
          border: 2px solid black;
          padding: 10px;

          .added_measurement {
            padding: 10px;
            border: 1px solid black;
            width: 150px;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            position: relative;

            .delete_measurement {
              position: absolute;
              top: 0;
              right: 0;
              background-color: #000;
              color: #fff;
              border: none;
              cursor: pointer;
            }
          }
        }
      }
    }

    input,
    select {
      height: 29px;
      width: 150px;
      outline: none;
      border: 2px solid black;
    }

    .product_input {
      height: 29px;
      width: 150px;
      outline: none;
      border: 2px solid black;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
