.drag_drop_container {
  display: flex;
  gap: 5px;

  label,
  p {
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
  }

  .drag_drop_btn {
    border: 1px solid black;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}
