.list_promo_main {
  display: flex;
  padding: 100px;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;

    li {
      border: 1px solid black;
      padding: 10px;
      display: grid;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
  }
}
