@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
* {
  box-sizing: border-box;
  // reset native padding and margins
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

