.hero {
    display: grid;
    gap: 30px;
    .section { 
        width: 360px;
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        border: 2px solid #000000;

        .btn {
            color: #FFF;
            background-color: #000000;
            border: none;
            font-family: Inter;
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
        }
    }
    

    .files_list {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid black;
        position: relative;

        button {
            border: none;
            background-color: white;
        }

        .add {
            position: absolute;
            top: 0;
            right: 0;

            button {
                text-transform: uppercase;
                background-color: #000000;
                color: #FFF;
            }
        }

        li {
            width: 157px;
            height: 216px;
            border: 1px solid black;
            position: relative;

            img {
                object-fit: scale-down;
                width: 155px;
                height: 215px;
            }
            .transparent {
                opacity: 0.2;;
            }

            button {
                position: absolute;
                display: none;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            span {
                position: absolute;
                left: 0;
                top: 0;
            }
            
            .input_container {
                position: absolute;
                bottom: 0;
                left: 0;

                input {
                    width: 155px;
                }
            }

            &:hover {
                button {
                    display: block;
                    border: none;
                    text-transform: uppercase;
                    background-color:black;
                    color: #FFF;
                }
            }
        }
    }

    .page {
        display: grid;
        gap: 10px;

        .products_carousel {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .product_list {
                display: flex;
                gap: 50px;

                li {
                    width: 157px;
                    height: 216px;
                    border: 1px solid black;
                    position: relative;

                    img {
                        object-fit: scale-down;
                        width: 155px;
                        height: 200px;
                    }

                    h5 {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
}