.hero {
  display: grid;
  gap: 50px;
  padding: 20px;
  //   margin: 70px 0 0 50px;

  .main_container {
    display: flex;
    align-items: center;
    gap: 50px;

    .section_wrapper {
      display: grid;
      gap: 5px;

      .section_title {
        font-size: 15px;
        text-transform: uppercase;
        background-color: black;
        color: white;
        justify-self: flex-start;
      }
      .section {
        display: grid;
        gap: 25px;
        padding: 70px;
        border: 1px solid black;

        .btn {
          border: none;
          background-color: black;
          color: white;
          font-size: 25px;
          text-transform: uppercase;
          justify-self: center;
        }
      }
    }

    .files_list {
      margin-top: 15px;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;

      .arrow_wrapper {
        .arrow_btn {
          background-color: white;
          border: none;
          cursor: pointer;

          .arrow {
            width: 30px;
            height: 30px;
          }
        }
      }

      li {
        width: 150px;
        height: 270px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
          height: 270px;
          width: 148px;
          object-fit: scale-down;
          object-position: center;
        }

        .transparent {
          opacity: 0.3;
        }

        button {
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          background-color: black;
          color: white;
        }
      }
    }
  }

  .ads_container {
    display: flex;
    gap: 50px;

    .section_wrapper {
      display: grid;
      gap: 5px;

      .section_title {
        font-size: 15px;
        text-transform: uppercase;
        background-color: black;
        color: white;
        justify-self: flex-start;
      }

      .section {
        display: grid;
        gap: 25px;
        padding: 70px;
        border: 1px solid black;

        .btn {
          border: none;
          background-color: black;
          color: white;
          font-size: 25px;
          text-transform: uppercase;
          justify-self: center;
        }
      }
    }

    .files_list {
      margin-top: 15px;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .add {
        position: absolute;
        bottom: -20px;
        left: 48%;

        button {
          border: none;
          color: white;
          background-color: black;
          font-size: 15px;
          text-transform: uppercase;
        }
      }

      .arrow_wrapper {
        .arrow_btn {
          background-color: white;
          border: none;
          cursor: pointer;

          .arrow {
            width: 30px;
            height: 30px;
          }
        }
      }

      li {
        width: 150px;
        height: 270px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
          height: 270px;
          width: 148px;
          object-fit: scale-down;
          object-position: center;
        }

        button {
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          background-color: black;
          color: white;
        }

        label {
          span {
            position: absolute;
            top: 0;
            right: 0;
          }

          .input_container {
            position: absolute;
            bottom: 0;
            display: grid;
            gap: 5px;

            input {
              width: 149px;
            }
          }
        }
      }
    }
  }

  .ids_container {
    display: flex;
    gap: 50px;

    .ids_wrapper {
      display: grid;
      gap: 5px;

      .ids_title {
        font-size: 15px;
        text-transform: uppercase;
        background-color: black;
        color: white;
        justify-self: flex-start;
      }

      .ids {
        display: grid;
        gap: 25px;
        padding: 80px;
        border: 1px solid black;
        .btn {
          border: none;
          background-color: black;
          color: white;
          font-size: 25px;
          text-transform: uppercase;
          justify-self: center;
        }
      }
    }

    .pagination_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      .pagination {
        button {
          background-color: white;
          border: none;
          cursor: pointer;

          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      .product_list {
        margin-top: 15px;
        display: flex;

        li {
          width: 150px;
          height: 270px;
          border: 1px solid black;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          img {
            height: 270px;
            width: 148px;
            object-fit: scale-down;
            object-position: center;
          }

          h5 {
            position: absolute;
            bottom: 0;
          }
        }

        .selected_product {
          opacity: 0.4;
        }
      }
    }
  }

  .add_btn {
    border: none;
    background-color: black;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    justify-self: center;
  }
}
