// .header {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   height: 100px;
//   font-weight: 100;
// }

// .mainView {
//   display: flex;
//   // 100px is header 30px is footer
//   min-height: calc(100vh - 130px);
// }

// // .sidebar {
// //   border: 2px solid orangered;
// //   width: 20%;
// // }

// // .route-page {
// //   border: 2px solid greenyellow;
// //   width: 80%;
// // }

// .footer {
//   width: 100%;
//   height: 30px;
//   // line-height: 30px;
//   // text-align: center;
// }
