
body, html {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .loginBlock {
        border: 1px solid black;
        width: 550px;
    }

    .card_header {
        text-align: center;
        padding: 5px;
    }

    .form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 15px;
    }

    .user_container {
        display: flex;
        justify-content: center;
    }

}






// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }


// body {
//     html {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
// }



// .loginBlock {
//     border: 1px solid black;
//     width: 250px;

//     .card_header {
//         font-weight: bold;
//         font-style: italic;
//     }
// }