.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .wrapper {
        display: grid;
        gap: 15px;

        .btn {
            width: 280px;
            height: 42px;
            border: none;
            cursor: pointer;
            background-color: black;
            color: white;
            font-size: 25px;
            text-transform: uppercase;
        }
    }
}