.media_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // MEDIA MANAGER STYLES

  .files {
    display: none;
  }

  .media_container {
    margin: 35px 0 220px;
    width: 36.18%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 33.5px;
  }

  .media_title {
    width: 300px;
    background-color: black;
    color: #fff;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .drop_container {
    background-color: #f0f0f0;
    width: 100%;
    height: 287px;
    display: flex;
    justify-content: center;
    align-items: center;

    .preview {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 40%;

      .media_img {
        object-fit: scale-down;
        height: 100%;
        width: 100%;
      }
    }
  }

  .drop_title {
    color: #fff;
    background-color: black;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
  }

  .name_upload {
    width: 100%;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .name_container {
    width: 52.2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .name {
    height: 29px;
    background-color: black;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 2px;
  }

  .name_input {
    border: none;
    text-align: center;
    width: 67.2%;
    height: 29px;
    background-color: #d9d9d9;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .upload_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }

  .upload_btn {
    cursor: pointer;
    border: none;
    background-color: black;
    color: #fff;
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  // MEDIA MANAGER STYLES

  // VIEW ALL BTN

  .view_all_btn {
    background-color: black;
    color: #fff;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 170px;
  }

  // VIEW ALL BTN
}
