$placed: #fff;
$awaiting_payment: #00d1ff;
$confirmed: #2c3dd6;
$shipped: #c8ffcd;
$delivered: #2fd62c;
$cancelled: #ff0d0d;
$refunded: #000;

.order_id_main {
  display: grid;
  gap: 20px;

  .orders_info {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    justify-self: center;
    width: 70%;

    h3 {
      text-transform: uppercase;
      background-color: black;
      color: white;
    }

    .order_status {
      display: flex;
      align-items: center;
      gap: 10px;
      .placed {
        width: 22px;
        height: 22px;
        border: 2px solid black;
        background-color: $placed;
      }
    }
  }

  .product_information {
    display: grid;
    justify-self: center;
    gap: 35px;
    width: 80%;
    .table_container {
      display: flex;
      width: 100%;
      table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 100%;
        justify-self: center;

        thead {
          height: 70px;

          th {
            border: 1px solid black;
            text-transform: uppercase;
          }
        }

        tbody {
          tr {
            border: 1px solid black;
            &:nth-child(even) {
              background-color: gray;
            }
            &:hover {
              cursor: pointer;
              opacity: 0.5;
            }
            td {
              border: 1px solid black;
              text-align: center;

              img {
                width: 100px;
                height: 200px;
                object-fit: scale-down;
                border: 1px solid black;
              }
            }
          }
        }
      }
    }
  }

  .order_shippmet_price_info {
    display: grid;
    gap: 15px;

    .promo_code_info {
      display: flex;
      gap: 20px;

      h3 {
        background-color: #000;
        color: white;
        text-transform: uppercase;
      }
    }

    .price {
      justify-self: flex-end;
      background-color: #000;
      color: white;
      text-transform: uppercase;
    }
  }

  .payment_shippement_section {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);

    .billing {
      transition: max-height 0.5s ease;
      max-height: 0; // Initial state
      &.open {
        // When open class is added, expand the content
        height: auto; // Adjust this based on the content size
      }
    }

    .payment_shippement_container {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      width: 280px;
      gap: 3px;

      button {
        border: none;
        text-align: start;
        align-self: flex-start;
        cursor: pointer;
      }

      h3 {
        background-color: #000;
        color: #fff;
        padding: 2px;
        font-size: 20px;
        align-self: flex-start;
        text-transform: uppercase;
      }

      .payment_shippement_info {
        display: grid;
        gap: 10px;
        padding: 10px;
        border: 2px solid #000;

        span {
          text-transform: uppercase;
          background-color: #000;
          color: #fff;
        }

        p {
          display: flex;
          gap: 5px;
        }

        .transaction_info {
          display: grid;
          gap: 10px;
        }
      }

      .billing {
        overflow: hidden;
        max-height: 0; // Start with max-height 0 to hide the content
        opacity: 0; // Start with opacity 0 to hide the content
        transition: max-height 0.5s ease, opacity 0.5s ease;
      }

      .show_billing_info {
        max-height: 500px;
        opacity: 1;
      }
    }
  }
}
