.order_main {
  display: grid;
  gap: 100px;
  padding: 50px 120px 100px 120px;

  .order_by {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter_status {
      display: flex;
      gap: 15px;

      h3 {
        text-transform: uppercase;
        background-color: black;
        color: white;
      }

      select {
        width: 105px;
      }
    }

    .filter_email {
      display: flex;
      gap: 5px;

      input {
        width: 100px;
      }

      button {
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }

  .table_container {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;

    table {
      border: 1px solid black;
      border-collapse: collapse;
      width: 100%;
      height: 500px;

      thead {
        height: 70px;
        position: static;
        top: 0;

        th {
          border: 1px solid black;
        }
      }

      tbody {
        tr {
          border: 1px solid black;
          &:nth-child(even) {
            background-color: gray;
          }
          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
          td {
            border: 1px solid black;
            text-align: center;
            height: 30px;
            padding: 20px;
          }
        }
      }
    }
  }
}
