.product_container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 60px 0 0 0;
  gap: 200px;

  .product_wrapper {
    .product_list {
      display: grid;
      margin-right: 150px;
      grid-template-columns: repeat(3, 1fr);
      gap: 52px;

      li {
        position: relative;
        height: 300px;
        width: 300px;
        display: grid;
        justify-content: center;
        align-items: center;
        border: 2px solid black;

        &.hidden_product {
          opacity: 0.5;
          background-color: rgba(0, 0, 0, 0.1);
        }

        h4 {
          text-transform: uppercase;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #000;
          color: #fff;
        }

        img,
        video {
          width: 200px;
          height: 255px;
          object-fit: scale-down;
        }

        h5 {
          justify-self: center;
          color: #000;
          font-family: Inter;
          font-size: 35px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
        }

        .delete_btn {
          position: absolute;
          top: 0;
          right: 0;
          background-color: #fff;
          border-radius: 0%;
          color: #000;
          display: none;
        }

        &:hover {
          .delete_btn {
            display: block;
          }
        }
      }
    }

    .product_pagination {
      display: flex;
      justify-self: center;
      gap: 50px;

      button {
        background-color: #fff;
        color: #000;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;

        &:hover {
          color: #fff;
          background-color: #000;
          cursor: pointer;
        }
      }
    }
  }

  form {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    gap: 2px;

    h6 {
      justify-self: center;
      color: #000;
      font-size: 35px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
    }

    select {
      height: 50px;
      background-color: #000;
      color: #fff;
      text-align: start;
      font-size: 15px;
      text-transform: uppercase;
    }

    input {
      height: 50px;
      background-color: #000;
      color: #fff;
      text-align: start;
      font-size: 15px;
      text-transform: uppercase;
    }

    button {
      justify-self: center;
      padding: 5px;
      margin-top: 15px;
      color: #000;
      font-size: 25px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      background-color: #fff;
      color: #000;
      cursor: pointer;

      &:hover {
        background-color: #000;
        color: #fff;
        border: none;
      }
    }
  }
}
