.product_operation_wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 430px auto;

  button {
    background-color: black;
    color: #fff;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
}
