.product_details_container {
  position: relative;
  width: 80%;

  .btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  .current_info {
    text-transform: uppercase;
  }
}

.size_measurement_table {
  width: 80%;
  height: 400px;
  border: 1px solid #000;
}

.title {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}

.tag {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
