.product_id_full_content {
  display: flex;
  justify-content: center;

  img {
    width: 195px;
    height: 271px;
    object-fit: scale-down;
  }

  .img_grid {
    display: grid;

    .main_img_container {
      position: relative;
      width: 692px;
      height: 723px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;

      .main_img {
        width: 550px;
        height: 641px;
        flex-shrink: 0;
      }

      .add_media {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .product_id_information {
    display: grid;
    // flex-direction: column;
    gap: 10px;
    height: 50%;

    .update_info_container {
      display: flex;
      align-items: center;
      gap: 10px;

      label {
        color: #000;
        font-family: Inter;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }

      input {
        width: 334px;
        height: 35px;
        color: #000;
        font-family: Inter;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }

      .tags {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: #000;
        font-family: Inter;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
}
