.container {
    display: grid;
    // gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100vh;

    h2 {
        background-color: black;
        color: white;
        text-transform: uppercase;
    }

    input[type='checkbox'] {
        accent-color: black;
        width: 20px;
        height: 20px;
        border-radius: 0%;
    }


    .payment_methods {
        display: grid;
        gap: 10px;

        .payment_wrapper {
            display: flex;
            margin-left: 15px;
            gap: 15px;

            h3 {
                width: 100px;
            }
        }
    }

    .carrier_container {
        display: grid;
        gap: 10px;

        .carrier_wrapper {
            display: grid;
            gap: 10px;
            margin-left: 20px;

            .carrier_allowance {
                display: flex;
                align-items: center;
                gap: 10px;

                h3 {
                    width: 50px;
                }
            }

            .carrier_price {
                display: flex;
                gap: 5px;

                input {
                    width: 100px;
                    font-size: 20px;
                    font-weight: bold;
                    border: 2px solid black;
                }

                button {
                    border: none;
                    background-color: black;
                    color: white;
                    font-size: 19px;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }
    }

    .site {
        display: flex;
        align-items: center;
        gap: 10px;

        input {
            width: 30px;
            height: 30px;
        }
    }
}