.sizes_wrapper {
    display: grid;
    gap: 15px;

    .sizes_title {
        justify-self: flex-start;
        color: #FFF;
        background-color: black;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

    .sizes_container {
        display: grid;

        .size {
            color: #FFF;
            background-color: black;
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            justify-self: flex-start;
        }

        .size_input {
            width: 334px;
            height: 60px;
            flex-shrink: 0;
            font-size: 35px;
        }
    }
}