.disabled-overlay {
  pointer-events: none;
  opacity: 0.4;
  background: rgba(0, 0, 0, 0.5); // This adds a dark overlay, remove if not needed
}

.thumbnail_wrapper {
  display: grid;
  gap: 5px;

  .thumbnail_title {
    justify-self: flex-start;
    color: #fff;
    background-color: black;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .thumbnail_container {
    // position: relative;
    width: 250px;
    padding: 65px 0 65px 0;
    display: grid;
    gap: 15px;
    justify-content: center;
    border: 1px solid black;

    .thumbnail_btn {
      color: #fff;
      background-color: black;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      border: none;
      justify-self: center;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    .thumbnail_active_wrapper {
      position: relative;
      width: auto;
      max-width: 85%;
      max-height: 85%;
      background: white;
      z-index: 2000;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .thumbnail_uploaded_media_wrapper {
      width: 100%;
      height: 100vh;
      border: 3px solid black;
      display: flex;
      justify-self: center;
      justify-content: space-between;
      align-self: center;
      padding: 15px;

      .media_selector_by_url_upload_new_container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .media_selector_by_url_upload_new {
          display: grid;

          .media_selector_by_url {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h3 {
              text-transform: uppercase;
              padding: 10px;
              background-color: #000;
              color: #fff;
              align-self: flex-start;
            }
          }
        }

        .media_selector_container {
          display: grid;
          gap: 5px;

          .media_selector_btn {
            justify-self: center;
            border: none;
            background-color: #000;
            color: #fff;
            text-transform: uppercase;
            padding: 5px;
            &:first-child {
              justify-self: flex-end;
            }
          }

          .media_selector_img_container {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            border: 2px solid black;
            overflow-y: auto;
            padding: 5px;
            height: 500px;
            width: 490px;

            .media_selector_img_wrapper {
              border: 1px solid #000;
              width: 150px;
              height: 260px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;

              .media_selector_img {
                width: 100%;
                // height: auto;
                object-fit: scale-down;
              }

              .media_selector_delete_img {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                border: none;
                background-color: #000;
                color: #fff;
                padding: 2px;
                text-align: center;
              }

              .media_selector_img_number {
                position: absolute;
                bottom: 0;
                color: #fff;
                background-color: #000;
                padding: 2px;
                font-size: 15px;
              }

              &:hover {
                .media_selector_delete_img {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}
