.media_container {
  display: grid;
  justify-content: center;
  gap: 15px;
  position: relative;
  // height: auto;

  h2 {
    justify-self: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
    align-self: center;
  }

  .media_main {
    display: grid;
    align-items: center;
    width: 100%;
    // padding: 100px;
    border: 1px solid black;

    .media_sort {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 150px;
      display: grid;
      gap: 10px;
      padding: 20px;

      h3 {
        color: white;
        background-color: black;
        font-size: 20px;
        justify-self: center;
        text-transform: uppercase;
      }

      .sort_wrapper {
        display: grid;
        gap: 5px;
        justify-content: center;

        button {
          background-color: white;
          border: none;
          font-size: 15px;
          text-transform: uppercase;
          justify-self: flex-start;
          cursor: pointer;
        }
      }
    }

    .media_list {
      display: grid;
      padding: 30px;
      gap: 30px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      overflow-y: auto; // Prevent vertical scrolling
      justify-content: flex-start;
      height: 520px;

      li {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 260px;
        border: 1px solid black;
        position: relative;

        img {
          max-width: 100%;
          height: auto;
        }

        video {
          max-width: 100%;
          height: auto;
          object-fit: scale-down;

          source {
            max-width: 3px;
            height: auto;
            object-fit: scale-down;
          }
        }

        button {
          position: absolute;
          top: 0;
          right: 0;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
          border: none;
          background-color: black;
          color: white;
          text-transform: uppercase;
          text-align: center;
          padding: 2px;
        }

        h3 {
          position: absolute;
          left: 0;
          bottom: 0;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
          background-color: black;
          color: white;
        }

        &:hover {
          h3 {
            opacity: 1;
          }

          button {
            opacity: 1;
          }
        }
      }
    }
  }
}
